@using Abp.Authorization.Users
<div>
    <form name="signInRecordCreateForm" role="form"  class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("SignIn")</span> @*上课签到*@
            </h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label>@L("Address")</label>
                <input class="form-control" type="text" name="Address" ng-model="vm.signInRecord.address" required>
            </div>

            <div class="form-group">
                <label>@L("BeginTime")</label>
                <input type="text" name="BeginTime" class="form-control" ng-model="vm.signInRecord.beginTime" required>
            </div>

            <div class="form-group">
                <label>@L("EndTime")</label>
                <input type="text" name="EndTime" class="form-control" ng-model="vm.signInRecord.endTime" required >
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>@L("Type"):</label>
                    <select ng-model="selectedType" ng-options="option.CategoryName for option in  vm.signInRecord.type"></select>
                    @*<span>你选择的值是: {{selectedType}}</span>*@
                </div>
                <div class="col-md-6">
                    <label>@L("UnNormalType"):</label>
                    <select>
                        <option ng-repeat="x in vm.signInRecord.unNormalType">{{x}}</option>
                    </select>
                </div>
            </div>
                <div class="form-group">
                    <label>@L("Reason"):</label>
                    <input class="form-control" type="text" name="Reason" ng-model="vm.signInRecord.reason">
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="signInRecordCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>