<div ng-controller="app.views.signInRecord.index as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openSignInModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("SignIn")</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("StudentName")</th>
                        <th>@L("Address")</th>
                        <th>@L("BeginTime")</th>
                        <th>@L("EndTime")</th>
                        <th>@L("ClassType")</th>
                        <th>@L("CourseType")</th>
                        <th>@L("Type")</th>
                        <th>@L("Reason")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sign in vm.signInRecord">
                        <td>{{sign.studentName}}</td>
                        <td>{{sign.address}}</td>
                        <td>{{sign.beginTime| date:'MM.dd hh:mm'}}</td>@*上课时间*@
                        <td>{{sign.endTime| date:'MM.dd hh:mm'}}</td>@*下课时间*@
                        <td>{{sign.classTypeName}}</td>
                        <td>{{sign.courseTypeName}}</td>
                        <td title="{{sign.type}}">{{sign.type| truncate:true:5:'...'}}</td>@*正常上课/旷课*@
                        <td title="{{sign.reason}}">{{sign.reason| truncate:true:10:'...'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>