
<link href="~/Assets/css/pagination.css" rel="stylesheet" />
<style type="text/css">
    .xdsoft_noselect {
        width: 76px !important; /*如果既要显示日期又要显示分钟 则width:360px 否则76px*/
    }
    /*另外，只要在CSS中定义了如下句子，可保网页不会再被撑开了。*/
    /*table {
        table-layout: fixed;
    }

    td {
        word-break: break-all;
        word-wrap: break-word;
    }*/
    /*6 既防止表格/层撑破又防止单词断裂*/
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    div {
        word-wrap: break-word;
    }
</style>
<div ng-controller="app.views.signInRecord.index as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openSignInModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("SignIn")</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@L("StudentName")</th>
                        <th>@L("Address")</th>
                        <th>@L("DetailAddress")</th>
                        <th>@L("BeginTime")</th>
                        <th>@L("EndTime")</th>
                        <th>@L("ClassType")</th>
                        <th>@L("CourseType")</th>
                        <th>@L("Type")</th>
                        <th>@L("UnNormalType")</th>
                        <th>@L("Remark")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sign in vm.signInRecord">
                        <td>{{sign.studentName}}</td>
                        <th>{{sign.courseAddressTypeName}}</th>
                        <td>{{sign.address}}</td>
                        <td>{{sign.beginTime| date:'MM.dd HH:mm'}}</td>@*上课时间*@
                        <td>{{sign.endTime| date:'MM.dd HH:mm'}}</td>@*下课时间*@
                        <td>{{sign.classTypeName}}</td>
                        <td>{{sign.courseTypeName}}</td>
                        <td title="{{sign.typeName}}">{{sign.typeName| truncate:true:5:'...'}}</td>@*正常上课/旷课*@
                        <td title="{{sign.unNormalTypeName}}">{{sign.unNormalTypeName}}</td>
                        <td title="{{sign.reason}}">{{sign.reason| truncate:true:10:'...'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>
