<div ng-controller="app.views.student.index as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openStudentCreationModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("AddStu")</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("CnName")</th>
                        <th>@L("EnName")</th>
                        <th>@L("LocalCountryName")</th>
                        <th>@L("Sex")</th>
                        <th>@L("Age")</th>
                        <th>@L("Position")</th>
                        <th>@L("Mobile")</th>
                        <th>@L("IsActive")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in vm.students">
                        <td>{{student.cnName}}</td>
                        <td>{{student.enName}}</td>
                        <td>{{student.localCountryName}}</td>
                        <td>{{student.isActive ? '@L("Yes")' : '@L("No")'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>