@{ var id = 0;}
<div ng-controller="app.views.student.index as vm">
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openStudentCreationModal()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> @L("AddStu")</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("CnName")</th>
                        <th>@L("EnName")</th>
                        <th>@L("LocalCountryName")</th>
                        <th>@L("Sex")</th>
                        <th>@L("Age")</th>
                        <th>@L("Position")</th>
                        <th>@L("Mobile")</th>
                        <th>@L("CountryName")</th>
                        <th>@L("IsActive")</th>
                        <th>@L("Operation")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in vm.students">
                        <td>{{student.cnName}}</td>
                        <td>{{student.enName}}</td>
                        <td>{{student.localCountryName}}</td>
                        <td>{{student.sex==1?"男":"女"}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.position}}</td>
                        <td>{{student.mobile}}</td>
                        <td>{{student.countryName}}</td>
                        <td>{{student.isActive ? '@L("Yes")' : '@L("No")'}}</td>
                        <td>
                            <a href="javascript:void(0)" ng-click='vm.openStudentCreationModal(student.id)' class="fa fa-edit">@L("Edit")</a>&nbsp;<a href="javascript:void(0)" ng-click="vm.deleteStudent(student)" class="fa  fa-trash-o">@L("Delete")</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>